#chat-screen {
  background-color: var(--navy);
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(3px);
  background-color: var(--lightnavy);
}

.main-chat {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.chat__timestamp {
  margin-bottom: 20px;
  padding: 8px 15px;
  border-radius: 25px;
  opacity: 0;
  font-size: 14px;
  color: white;
  background-color: #92a4b2;
  animation: fadeIn 0.5s linear forwards;
  animation-delay: 0.5s;
}

.message-row {
  margin-bottom: 15px;
  display: flex;
  width: 100%;
}

.message-row img {
  margin-right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 15px;
}

.message-row img,
.message-row .message__author {
  opacity: 0;
}

.message-row:nth-child(2) img,
.message-row:nth-child(2) .message__author {
  animation: fadeIn 0.1s linear forwards;
  animation-delay: 2s;
}

.message-row:nth-child(3) img,
.message-row:nth-child(3) .message__author {
  animation: fadeIn 0.1s linear forwards;
  animation-delay: 4s;
}

.message__author {
  margin-bottom: 8px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  padding: 13px;
  margin-right: 5px;
  background-color: white;
  border-radius: 15px;
  border-top-left-radius: 0px;
  font-size: 18px;
}

.message__bubble,
.message__time {
  transform: scale(0%);
}

@keyframes scaleBubble {
  from {
    transform: scale(1%) translateX(-150px);
  }
  to {
    transform: scale(100%) translateX(0px);
  }
}

.message-row:nth-child(2) .message__bubble,
.message-row:nth-child(2) .message__time {
  animation: scaleBubble 0.1s ease-in-out forwards;
  animation-delay: 2.5s;
}

.message-row:nth-child(3) .message__bubble,
.message-row:nth-child(3) .message__time {
  animation: scaleBubble 0.1s ease-in-out forwards;
  animation-delay: 4.5s;
}

.message__author,
.message__time {
  opacity: 0.7;
  font-size: 14px;
  color: white;
}

.message-row--own {
  justify-content: flex-end;
}

@keyframes scaleBubbleReverse {
  from {
    transform: scale(1%) translateX(300px);
  }
  to {
    transform: scale(100%) translateX(0px);
  }
}

.message-row--own .message__bubble {
  margin-right: 0px;
  margin-left: 5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  background-color: yellow;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.message-row--own .message__bubble,
.message-row--own .message__time {
  animation: scaleBubbleReverse 0.1s ease-in-out forwards;
  animation-delay: 6.5s;
}

.reply {
  padding: 5px 25px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  padding: 14px;
  width: 100%;
  border: var(--main-border);
  border-radius: 28px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px black;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column button {
  position: absolute;
  right: 2px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 55px;
  top: 7px;
}

.reply__column button {
  background-color: yellow;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: all 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink {
  opacity: 0;
}

.reply:focus-within button {
  transform: translateX(13px);
}

.reply input:focus {
  width: 95vw;
  transform: translateX(-12%);
}
