.recommended-friends {
  margin-top: 20px;
  padding-top: 15px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  color: white;
}

.recommended-friends__title {
  font-size: 15px;
}

.recommended-friends span {
  display: block;
  margin: 100px 0px;
  text-align: center;
  font-size: 18px;
}

.open-chat {
  padding: 20px 0px;
  font-size: 15px;
}

.open-chat__header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.open-post {
  margin-bottom: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s linear;
}

.open-post:hover {
  box-shadow: 0px 0px 8px white;
  transform: translateY(-5px);
}

.open-post__title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 17px;
  color: white;
}

.open-post__hashtags {
  text-transform: uppercase;
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.open-post__members img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.open-post__hashtags,
.open-post__member-count {
  color: var(--lightgray);
}

.open-post__members .divider {
  margin: 0px 5px;
  width: 1.5px;
  height: 15px;
  opacity: 0.6;
  background-color: var(--lightgray);
}

.open-post__member-status {
  color: yellow;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 100px;
  height: 10 0px;
  border-radius: 7%;
}

.open-post__heart-count {
  padding: 5px 7px;
  display: flex;
  position: absolute;
  right: 6px;
  bottom: 8px;
  border-radius: 12px;
  opacity: 0.8;
  font-size: 12px;
  background-color: black;
  color: white;
}

.open-post__heart-count i {
  margin-right: 5px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: yellow;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
