#friends-display-link {
  margin-bottom: 10px;
  padding: 10px 0px;
  display: block;
  text-align: center;
  background-color: white;
}

#friends-display-link i:last-child {
  margin-left: 10px;
  color: var(--lightgray);
}

.friends-screen__title {
  margin-top: 25px;
  padding-top: 15px;
  border-top: var(--main-border);
}

.friends-screen__title-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: white;
}
