#friends-display-link {
  display: block;
  padding: 10px 0px;
  margin-bottom: 10px;
  background-color: var(--whitegray);
  text-align: center;
}

#friends-display-link i {
  color: var(--lightgray);
}

#friends-display-link i:last-child {
  margin-left: 10px;
}

.friends-screen__channel {
  margin-top: 25px;
  padding-top: 15px;
  border-top: var(--main-border);
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: var(--lightgray);
}
