.settings__setting {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-bottom: var(--main-border);
  font-size: 18px;
}

.settings__setting i {
  margin-right: 20px;
  font-size: 22px;
}
