.icon-row {
  display: flex;
  justify-content: space-around;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  transition: transform 0.2s ease;
}

.icon-row__icon:hover {
  transform: translateY(-4px);
}

.icon-row__icon span {
  padding-top: 20px;
  font-size: 14px;
  width: 70px;
}
