.nav {
  padding: 15px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__btn {
  position: relative;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  top: -4px;
  right: -7px;
}

.nav__chat-count {
  width: 18px;
  height: 18px;
  animation: notificationAnimation 2s ease-in-out infinite;
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__btn {
  transform: none;
  opacity: 1;
}

@keyframes selectedScreen {
  0% {
    transform: none;
  }
  50% {
    transform: scale(110%);
    color: rgb(61, 51, 255);
  }
  100% {
    transform: none;
  }
}

.nav__btn--selected {
  animation: selectedScreen 1s linear infinite;
}
