.screen-header {
  padding: 40px var(--horizontal-space) 30px var(--horizontal-space);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.screen-header__title {
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.screen-header__icons {
  display: flex;
  align-items: center;
  color: white;
}

.screen-header__icons span {
  margin: 0px 10px;
}

.screen-header__icons span i {
  transition: transform 0.2s ease;
}

.screen-header span i:hover {
  transform: translateY(-4px);
}

.screen-header__cog-box {
  position: relative;
}

.screen-header__notification {
  position: absolute;
  top: -7px;
  right: -15px;
}
