.user-component {
  padding: 10px 5px;
  border-radius: 15px;
  justify-content: space-between;
  transition: all 0.2s linear;
}

.user-component:hover {
  box-shadow: 0px 0px 8px white;
  transform: translateY(-5px);
}

.user-component,
.user-component__column {
  display: flex;
  align-items: center;
}

.user-component__column:last-child {
  flex-direction: column;
  align-items: flex-end;
  color: white;
}

.user-component__column:last-child span {
  margin-right: 5px;
}

.user-component__avatar {
  margin-right: 15px;
  width: 60px;
  height: 60px;
  border-radius: 40%;
}
.user-component__avatar--lg {
  width: 70px;
  height: 70px;
}

.user-component__avatar--sm {
  width: 50px;
  height: 50px;
}

.user-component__title {
  font-size: 20px;
  color: white;
}

.user-component__subtitle {
  margin-top: 10px;
  font-size: 13px;
  color: var(--lightgray);
}

.user-component__msg-count {
  margin-top: 10px;
  width: 18px;
  height: 18px;
}

.user-component__music-msg {
  padding: 5px 10px;
  border: 1px solid greenyellow;
  border-radius: 15px;
  color: greenyellow;
}

.user-component__music-msg span {
  color: white;
}

@keyframes waveDot {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: none;
  }
}

.dot {
  color: greenyellow;
  font-size: 15px;
  animation: waveDot 0.8s linear infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.1s;
}

.dot:last-child {
  animation-delay: 0.2s;
}

.dotdotdot {
  display: flex;
  justify-content: center;
  width: 35px;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}
